# AIO admin UI
AIO_ADMIN_PORT=18080

# Caddy proxies to this host IP and port
NEXTCLOUD_APACHE_PORT=11000
NEXTCLOUD_APACHE_IP_BINDING=0.0.0.0

# Host path for Nextcloud ncdata
NEXTCLOUD_DATADIR=/mnt/nextcloud/data

# Startup apps and PHP/runtime tuning
NEXTCLOUD_STARTUP_APPS=deck twofactor_totp tasks calendar contacts notes
NEXTCLOUD_UPLOAD_LIMIT=100G
NEXTCLOUD_MAX_TIME=7200
NEXTCLOUD_MEMORY_LIMIT=1024M

# Usually keep this false
SKIP_DOMAIN_VALIDATION=false
